<h1>Simple Karaoke</h1>
<p style="color: green"><%= notice %></p>
<% if current_or_guest_user.name.blank? %>
  <p>Please enter your name: </p>
  <%= form_with url: update_name_path, method: :patch do |form| %>
    <%= form.text_field :name, placeholder: "Enter your name" %>
    <%= form.submit "Go" %>
  <% end %>
<% else %>
  <p>ARE YOU READY TO ROCK, <%= current_or_guest_user.name %>?</p>
  <%= render partial: "requests/form", locals: {request: current_or_guest_user.requests.new} %>
<% end %>